
.fond {
    background:
        linear-gradient(rgba(0, 75, 168, 0.4), rgba(7, 7, 10, 0.9)),
        linear-gradient(#3E78B2, #004BA8, #4A525A, #24272B, #07070A),
        radial-gradient(circle, #F8F9FA 0%, rgba(255, 253, 253, 0) 100%);
}